.c-content-list {
  &__item {
    display: block;
    width: 100%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid $light-gray;

    &__header {
      margin-bottom: $space-narrow;
      color: $black;
    }
    &__user-info {
      margin-right: $space;
      font-size: $font-size-ext-small;
    }
    &__created-at {
      color: $gray;
      font-size: $font-size-ext-small;
    }
    &__title {
      display: block;
      font-weight: bold;
      color: $black;
      margin-bottom: $space-ext-narrow;
    }
    &__meta {
      display: flex;
      align-items: center;
      color: $gray;
      font-size: $font-size-ext-small;

      i {
        margin-right: $space-ext-narrow;
      }
    }
  }
}

.c-content-column {
  padding: $space;
  color: $gray;
  font-size: $font-size-ext-small;
  border-bottom: 1px solid $light-gray;

  &__label {
    margin-bottom: $space-ext-narrow;

    i {
      color: $primary;
      margin-right: $space-ext-narrow;
    }
  }

  &__value {
    color: $black;
    font-size: $font-size-regular;

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: $space-ext-narrow;
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: $space-narrow;
    }
  }
}
