.c-pagination {
  font-size: $font-size-small;

  &__btn {
    display: inline-block;
    padding: 0 $space-ext-narrow;
    height: $button-size-small;
    line-height: $button-size-small;
    text-align: center;
    border-radius: $border-radius;
    color: $black;

    a {
      display: inline-block;
      color: inherit;
      width: 100%;
      height: 100%;
    }

    & + & {
      margin-left: ($space-ext-narrow / 2);
    }

    &:hover {
      opacity: $opacity;
    }

    &:active {
      opacity: $deep-opacity;
    }

    &--current-page {
      background: $primary;
      color: $white;
      font-weight: bold;
    }

    &--prev,
    &--next {
      background: $light-gray;
    }
  }
}
