$font-size-regular: 16px;

$font-size-tiny: ($font-size-regular - 6px);
$font-size-ext-small: ($font-size-regular - 4px);
$font-size-small: ($font-size-regular - 2px);

$font-size-big: ($font-size-regular * 1.5);
$font-size-ext-big: ($font-size-regular * 2);
