.l-heading {
  padding: $space-narrow 0;
  margin: 0;
  font-size: $font-size-regular;
  color: $black;
  background: $light-gray;

  &__icon {
    color: $primary;
    margin-right: $space-narrow;
    height: $font-size-big;
  }

  a {
    color: inherit;
  }
}
