.l-sidebar {
  z-index: $z-index-sidebar;
  display: none;

  &--is-opened {
    .l-sidebar__mask {
      opacity: 1;
    }

    .l-sidebar__body {
      right: 0;
    }
  }

  &__mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $mask-gray;
    opacity: 0;
    cursor: pointer;
    user-select: none;
    transition: opacity $transition-time;
  }

  &__body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    width: 75%;
    max-width: 400px;
    background: $white;
    transition: right $transition-time;
    z-index: ($z-index-sidebar + 1);
  }
}

body.overflow-hidden {
  .l-sidebar {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
