.bg-light
  .container
    = breadcrumbs class: "c-breadcrumb", container_tag: 'nav', current_class: "c-breadcrumb__item c-breadcrumb__item--current", separator: "<i class='fas fa-chevron-right'></i>"
